<div class='panel panel-primary'>
    <div class='panel-heading'>{{pageTitle}}</div>
    <div class='panel-body'>
        <div class='row'></div>
        <div class='table-responsive'>
            <table class='table' *ngIf='skills && skills.length'>
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Skill Name</th>
                        <th>Category</th>
                        <th>Sub-category</th>
                        <th>Relevance for Top-Q</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let skill of skills'>
                        <td>
                            <img *ngIf='skill.logoImageUrl'
                            [src]='skill.logoImageUrl'
                            [title]='skill.skillName'
                            [style.width.px]='imageWidth'
                            [style.margin.px]='imageMargin'>
                        </td>
                        <td><b>{{skill.skillName}}</b></td>
                        <td>{{skill.category}}</td>
                        <td>{{skill.subcategory}}</td>
                        <td>{{skill.topqRelevance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>