label {
	text-align: left;
	width: 150px;
	float: left;
}

textarea {
	font-family: Arial;
}

/*
.job_fieldset {
	border-radius: 10px;
	width: 800px;
	border: 3px solid #0171C5;
	padding: 10px;
	margin-top: 20px;
}

.step_fieldset {
	border-radius: 10px;
	border: 2px solid #1891EE;
	padding: 10px;
	margin-top: 20px;
}

.params_fieldset {
	border-radius: 10px;
	border: 1px solid #94A9E9;
	padding: 10px;
	margin-top: 20px;
}

.fieldset_controller button {
	float: right;
	text-align: center;
	width: 40px;
	height: 20px;
	margin: 3px;
	font-size: 8pt;
	font-weight: bold;
}

.param_remove_btn {
	text-align: center;
	width: 30px;
	height: 20px;
	font-size: 8pt;
	font-weight: bold;
}

legend {
	font-weight: bold;
}



.small_label {
	margin-left: 10px;
	margin-right: 5px;
}

.large_input {
	width: 200px;
}

.small_input {
	width: 100px;
	margin-right: 10px;
}

input[type=text]:focus {
	background-color: #FFFFCC;
}

textarea:focus {
	background-color: #FFFFCC;
}

.add_param_btn {
	margin-left: 10px;
	padding-right: 15px;
	padding-left: 15px;
}

.submit_btn {
	margin-left: 20px;
	padding-right: 35px;
	padding-left: 35px;
}

.add_step_btn {
	float: right;
	margin-right: 10px;
	padding-right: 25px;
	padding-left: 25px;
}
*/