body {
	font-family: Sans-serif;
	font-size: 11pt;
	background-color: #DDD;
}

#header {
	background-color: #0171C5;
	padding: 10px;
	overflow: auto;
}

#content {
	background-color: white;
	padding: 20px;
}

#footer {
	background-color: #0171C5;
	color: white;
	padding: 20px;
}

p {
	margin: 6px;
}

#main_menu {
	overflow: auto;
	vertical-align: text-bottom;
}

#main_menu ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#main_menu a {
	float: left;
	text-decoration: none;
	color: white;
	background-color: #1891EE;
	padding: 5px 15px 5px 15px;
	margin: 5px;
	border: 1px solid #94A9E9;
	display: block;
}

#main_menu a:hover {
	text-decoration: underline;
}